.hidden{
	display: none !important;
}

.show_video{
	border:#e34761 2px solid;
	text-align: center;
}
.clear{
	clear:both;
}

dd a{
    color:#000 !important;
}
.celebrity{
    margin: 10px !important;
}
.celebrity figure img{
    min-width: 100% !important;
}
.celebrity-tweet-info .fancybox-skin{
    background: #000 !important;
    border-radius: 0 !important;
    padding: 0 !important;
}
