@font-face {
    font-family: 'futura_bkregular';
    src: url('../fonts/ftrabk_-webfont.eot');
    src: url('../fonts/ftrabk_-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ftrabk_-webfont.woff') format('woff'),
         url('../fonts/ftrabk_-webfont.ttf') format('truetype'),
         url('../fonts/ftrabk_-webfont.svg#futura_bkregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'latobold';
    src: url('../fonts/lato-bol-webfont.eot');
    src: url('../fonts/lato-bol-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lato-bol-webfont.woff') format('woff'),
         url('../fonts/lato-bol-webfont.ttf') format('truetype'),
         url('../fonts/lato-bol-webfont.svg#latobold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'latoregular';
    src: url('../fonts/lato-reg-webfont.eot');
    src: url('../fonts/lato-reg-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lato-reg-webfont.woff') format('woff'),
         url('../fonts/lato-reg-webfont.ttf') format('truetype'),
         url('../fonts/lato-reg-webfont.svg#latoregular') format('svg');
    font-weight: normal;
    font-style: normal;

}



@font-face {
    font-family: 'futura_medium';
    src: url('../fonts/ftramd_-webfont.eot');
    src: url('../fonts/ftramd_-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ftramd_-webfont.woff') format('woff'),
         url('../fonts/ftramd_-webfont.ttf') format('truetype'),
         url('../fonts/ftramd_-webfont.svg#futura_mdmedium') format('svg');
    font-weight: normal;
    font-style: normal;

}

/* Generated by Font Squirrel (http://www.fontsquirrel.com) on August 22, 2013 */



@font-face {
    font-family: 'futura_bk_btbook';
    src: url('../fonts/futura_book_bt-webfont.eot');
    src: url('../fonts/futura_book_bt-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/futura_book_bt-webfont.woff') format('woff'),
         url('../fonts/futura_book_bt-webfont.ttf') format('truetype'),
         url('../fonts/futura_book_bt-webfont.svg#futura_bk_btbook') format('svg');
    font-weight: normal;
    font-style: normal;

}
