/*-------BODY-----------*/
body{
  background: url(../img/main-bg.png) 0 0 repeat;

}

/*-------TYPOGRAPHY-----------*/
h1{
  font: 43px "futura_medium" !important;
  text-transform: uppercase;
}
span{
  font: 20px "futura_bk_btbook" !important;
}

/*---------ICONS-------------------*/
 i.telephone{
    background: url(../img/icons.png) -20px -40px no-repeat;
    padding: 15px;

 }
 .sociable ul li a i{
        height: 30px;
        width: 30px;
        position: absolute;
        line-height: 20px;
 }
 i.follow-facebook{
        background: url(../img/icons.png) -20px -6px no-repeat;

 }
  i.follow-twitter{
        background: url(../img/icons.png) -60px -6px no-repeat;

 }
  i.follow-youtube{
        background: url(../img/icons.png) -60px -45px no-repeat;

 }
  i.follow-instagram{
        background: url(../img/icons.png) -100px -4px no-repeat;

 }


/*-------HEADER--------------------*/


/*-------CONTENT------------------*/
.container-fluid{
  margin:0 auto;
  padding:35px 0;
   color:#fff;
}
    .content-container{
        border:#fff thin solid;
        margin:0 auto !important;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        border-radius: 20px;
        background: url(../img/overlay.png)  -5px 0 no-repeat;
        float:none !important;
        padding:15px 0 0 0;

    }
    .left-content{
      width: 270px;
      float: left;
      padding: 30px;
      text-align: center;

    }
      .text-content{

      }
        .text-content span a {
          color:#fff;
          text-decoration: underline;
        }
          .text-content span a:hover{
            color:#333;
          }
      .contact-details{
        text-align: left;
      }
        .contact-details span{
          font-size: 14px !important;

        }
        .contact-details span.title{
          font-weight: bold !important;
        }
.sociable{
  margin: 0 auto !important;
  float:none !important;
  text-align: center;
}
  .sociable ul{
    list-style-type: none;
    font:20px "futura_bk_btbook";
  }
    .sociable ul li{
      display: inline-block;
      padding: 0;
      margin: 0;
      line-height: 25px;
     }
    .sociable ul li a{
      padding: 15px;

    }


/*-------FOOTER-----------*/


/* Large desktop */
@media (max-width: 1024px) {
  .right-content{
    display: none;
  }
  .left-content{
    width: 90%;
  }
}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {

    .left-content{
        width: 90%;
    }
    .right-content{
      display: none;
    }
}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {}

/* Landscape phones and down */
@media (max-width: 480px) {
  .container-fluid{
    padding:20px 0 !important;
  }
  .left-content{
    padding:10px;
  }
  .sociable ul{
    margin: 10px;
    text-align: left;
  }
}



