.regine-photo-fix {
	width: 40% !important;
}

.regine-popup-fix {
	max-width: 1200px !important;
}

.regine-details-fix {
	width: 60% !important;
}

.celeb-photo-fix {
	background-color: #ffffff;
	text-align: center;
}

@media screen and (max-width: 499px) {
	.regine-details-fix {
		width: 100% !important;
		padding: 20px !important;
	}
}

.login-form .user-info {
	float: left;
	padding: 5px;
}

.logout-button {
	font-family: 'base_font_bold',sans-serif !important;
	float: left !important;
	background-color: #f9dadf !important;
	border-radius: 3px !important;
	padding: 2px 5px !important;
	border: none !important;
	text-transform: uppercase !important;
	color: #ea4b61 !important;
	font-size: 11px !important;
	cursor: pointer !important;
}

.login-form-fix {
	text-align: left;
}

.padding-5 {
	padding: 5px;
}

.already-a-member-text {
	float: left;
	padding: 5px;
}

.invisible {
	display: none;
}

.captcha-image {
	border-radius: 4px;
}

.captcha-container {
	width: 215px;
	height: 80px;
	text-align: center;
}

input[type="text"].width-40-percent {
	width: 40%;
}

.captcha-refresh {
	width: 20px;
}

.ajax-loader {
	width: 20px;

	/* microsoft ie */
	-webkit-animation-name: spin;
	-webkit-animation-duration: 1500ms;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
	-moz-animation-name: spin;
	-moz-animation-duration: 1500ms;
	-moz-animation-iteration-count: infinite;
	-moz-animation-timing-function: linear;
	-ms-animation-name: spin;
	-ms-animation-duration: 1500ms;
	-ms-animation-iteration-count: infinite;
	-ms-animation-timing-function: linear;
	-o-transition: rotate(3600deg);
}

@-webkit-keyframes spin {
			from {
				-webkit-transform: rotate(0deg);
			}
			to {
				-webkit-transform: rotate(360deg);
			}
		}

		@-moz-keyframes spin {
			from {
				-moz-transform: rotate(0deg);
			}
			to {
				-moz-transform: rotate(360deg);
			}
		}

		@-ms-keyframes spin {
			from {
				-ms-transform: rotate(0deg);
			}
			to {
				-ms-transform: rotate(360deg);
			}
		}