@font-face {
    font-family: 'KlavikaLight';
    src: url('klavika-light-webfont.eot');
    src: url('klavika-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('klavika-light-webfont.woff') format('woff'),
         url('klavika-light-webfont.ttf') format('truetype'),
         url('klavika-light-webfont.svg#KlavikaLight') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'MuliRegular';
    src: url('Muli-Regular-webfont.eot');
    src: url('Muli-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('Muli-Regular-webfont.woff') format('woff'),
         url('Muli-Regular-webfont.ttf') format('truetype'),
         url('Muli-Regular-webfont.svg#MuliRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}