/*--------------------------------------------
	Fonts
--------------------------------------------*/
@font-face {
    font-family: 'base_font';
    src: url('../fonts/helveticaltstd-roman-webfont.eot');
    src: url('../fonts/helveticaltstd-roman-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/helveticaltstd-roman-webfont.woff') format('woff'),
         url('../fonts/helveticaltstd-roman-webfont.ttf') format('truetype'),
         url('../fonts/helveticaltstd-roman-webfont.svg#helvetica_lt_stdregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'ChaletComprime-CologneSixty';
    src: url('../fonts/ChaletComprime-CologneSixty.eot');
    src: url('../fonts/ChaletComprime-CologneSixty.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ChaletComprime-CologneSixty.woff') format('woff'),
         url('../fonts/ChaletComprime-CologneSixty.ttf') format('truetype'),
         url('../fonts/ChaletComprime-CologneSixty.svg#ChaletComprime-CologneSixty') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'base_font_light';
    src: url('../fonts/helveticaneueltstd-lt-webfont.eot');
    src: url('../fonts/helveticaneueltstd-lt-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/helveticaneueltstd-lt-webfont.woff') format('woff'),
         url('../fonts/helveticaneueltstd-lt-webfont.ttf') format('truetype'),
         url('../fonts/helveticaneueltstd-lt-webfont.svg#HelveticaNeueLTStd45Light') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'base_font_bold';
    src: url('../fonts/helveticaneueltstd-bd-webfont.eot');
    src: url('../fonts/helveticaneueltstd-bd-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/helveticaneueltstd-bd-webfont.woff') format('woff'),
         url('../fonts/helveticaneueltstd-bd-webfont.ttf') format('truetype'),
         url('../fonts/helveticaneueltstd-bd-webfont.svg#HelveticaNeueLTStd75Bold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'heading_font';
    src: url('../fonts/jennasue-webfont.eot');
    src: url('../fonts/jennasue-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/jennasue-webfont.woff') format('woff'),
         url('../fonts/jennasue-webfont.ttf') format('truetype'),
         url('../fonts/jennasue-webfont.svg#jenna_sueregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'BebasNeueRegular';
    src: url('../fonts/BebasNeue-webfont.eot');
    src: url('../fonts/BebasNeue-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/BebasNeue-webfont.woff') format('woff'),
         url('../fonts/BebasNeue-webfont.ttf') format('truetype'),
         url('../fonts/BebasNeue-webfont.svg#BebasNeueRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
/*--------------------------------------------
	Common Style
--------------------------------------------*/
body {
	background-color: #fff;
	font-family: 'base_font',sans-serif;
	font-weight: 100;
	font-size:14px;
	color:#000;
	margin:0;
	padding:0;
}
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
img {border:none; vertical-align: middle;}
.clearfix:before, .clearfix:after {
    content: " ";
    display: table;
}
.clearfix:after {
	clear: both;
}
::-moz-selection {
    background: #ea4b61;
    color: #fff;
    text-shadow: none;
}
::selection {
    background: #ea4b61;
    color: #fff;
    text-shadow: none;
}
em {
	font-style: normal;
	font-family: 'base_font_bold', sans-serif;
	font-weight: normal;
}
/** Heading **/
h1, h2, h3, h4, h5, h6 {
	font-family: 'base_font', sans-serif;
	margin:0; padding:0;
}

h2 {
	font-size: 33px;
	line-height: 36px;
	font-family: 'base_font_bold', sans-serif;
	font-weight: normal;
}

h3 {
	font-size: 18px;
	line-height: 22px;
	font-family: 'base_font', sans-serif;
	font-weight: normal;
}

/** Main Link **/
a {color:#70350b; text-decoration:none; outline:none;}
a:hover {color:#9a4b13; text-decoration:none;}

/** Text-align **/
.text-center {
	text-align: center;
}

/*--------------------------------------------
	Resets and Presets :D
--------------------------------------------*/
article, aside, canvas, details,
figcaption, figure, footer, header,
hgroup, nav, section, summary, video, small, article {
    display: block;
}
figure {padding:0; margin:0;}
video {
	max-width: 100%;
	height: auto;
}
iframe,
embed,
object {
	max-width: 100%;
}
.container {
	width: 1200px;
	margin:0 auto;
	z-index: 10;
	position: relative;
}
	.container:after, .container:before {
		content: '';
		display: table;
	}
	.container:after {
		clear: both;
	}
.main {
	width:100%;
	z-index: 10;
}
.from-sprites {
	background-image: url(../img/sprites.png);
	display: inline-block;
	overflow: hidden;
	text-align: left;
	text-indent: -9999px;
}
.clearfix:after, .clearfix:before {
	content: '';
	display: table;
}
.clearfix:after {
	clear: both;
}
.img-responsive {
	display: inline-block;
	max-width: 100%;
}
/** Button **/
.btn {
	display: inline-block;
	border-radius: 5px;
	text-align: center;
	position: relative;
	margin: 10px 5px;
	outline: none;
}
.btn.btn-default {
	font-family: 'base_font_light_reg', sans-serif;
	background-color: #d22587;
	color: #f6f0fb !important;
	font-size: 16px;
	padding: 8px 20px;
}
button.btn.btn-default {
	border: none;
	cursor: pointer;
}
	.btn.btn-default:hover {
		background-color: #c41f7c;
	}
	.btn.btn-default:active {
		box-shadow: 0 1px 0 #7e124f;
		background-color: #c41f7c;
	}
.btn.btn-reverse {
	background-color: #671242;
	color: #f6f0fb !important;
	font-size: 16px;
	padding: 8px 20px;
}
button.btn.btn-reverse {
	border: none;
	cursor: pointer;
}
	.btn.btn-reverse:hover {
		background-color: #871b58;
	}
	.btn.btn-reverse:active {
		box-shadow: 0 1px 0 #7e124f;
		background-color: #871b58;
	}

.btn.btn-gray {
	background-color: #797979;
	border: 1px solid #afafaf;
	color: #fff !important;
	font-size: 16px;
	padding: 8px 20px;
}
button.btn.btn-gray {
	border: none;
	cursor: pointer;
}
	.btn.btn-gray:hover {
		background-color: #787878;
	}
	.btn.btn-gray:active {
		box-shadow: 0 1px 0 #575858;
		background-color: #787878;
	}

.btn.btn-text {
	background-color: transparent;
	color: #d22587 !important;
	font-size: 16px;
	padding: 8px 20px;
	text-decoration: underline;
}
button.btn.btn-text {
	border: none;
	cursor: pointer;
}
	.btn.btn-text:hover {
		background-color: transparent;
	}
	.btn.btn-text:active {
		background-color: transparent;
	}

	.btn.btn-small {
		font-family: 'base_font', sans-serif;
		padding: 4px 10px;
		font-size: 13px;
	}
	.btn.btn-large {
		font-family: 'base_font', sans-serif;
		font-size: 16px;
		padding: 11px 26px;
	}

/*--------------------------------------------
	Header
--------------------------------------------*/
header.main {
	background-color: #e34761;
	border-bottom: 1px solid #de6176;
	position: relative;
	z-index: 30;
	height: 56px;
	position: fixed;
	top: 0;
	color: #fff;
	display: none;
}
	/* clearfix */
	header.main:after, header.main:before {
		content: '';
		display: table;
	}
	header.main:after {
		clear: both;
	}

	.logo {
		background-image: url(../img/logo-sexy-solution-by-belo.png);
		background-repeat: no-repeat;
		width: 103px;
		height: 126px;
		position: absolute;
		left: 0;
		top: 0;
		z-index: 10;
		color: #fff;
		font-size: 11px;
		text-indent: -9999px;
		text-align: left;
	}
		.logo a {
			display: block;
			width: 103px;
			height: 126px;
		}

	#mininav {
		background: url(../img/mininav.png) no-repeat;
		width: 33px;
		height: 24px;
		padding: 0;
		margin: 0;
		overflow: hidden;
		text-indent: -9999px;
		text-align: left;
		position: absolute;
		top: 10px;
		right: 15px;
		z-index: 200;
		display: none;
	}
	.navigation {
		margin: 0 auto;
		padding-left: 130px;
		position: relative;
		float: left;
	}
		.show-full-name {
			background-color: #444;
			border-radius: 3px;
			padding: 3px 10px;
			color: #fff;
			text-indent: 1px;
			position: absolute;
			font-size: 12px;
			top: 50px;
			left: 50%;
			text-align: center;
			z-index: 500;
			width: 88px;
			margin-left: -44px;

		}
			.show-full-name:after {
				content: '';
				position: absolute;
				top: -5px;
				left: 50%;
				margin-left: -5px;

				width: 0;
				height: 0;
				border-left: 5px solid transparent;
				border-right: 5px solid transparent;

				border-bottom: 5px solid #444;
			}
		/* clearfix */
		.navigation:after, .navigation:before {
			content: '';
			display: table;
		}
		.navigation:after {
			clear: both;
		}
		.navigation a {
			background-image: url(../img/navigation.png);
			background-repeat: no-repeat;
			color: #fff;
			height: 32px;
			text-indent: -9999px;
			text-align: left;
			display: block;
			float: left;
			margin: 12px 20px;
			position: relative;

			-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
			filter: alpha(opacity=50);
			-moz-opacity: 0.5;
			-khtml-opacity: 0.5;
			opacity: 0.5;
		}
			.navigation a[href="#treatment"] {
				background-position: 0 0;
				width: 20px;
			}
			.navigation a[href="#location"] {
				background-position: -76px 0;
				width: 19px;
			}
			.navigation a[href="#pricing"] {
				background-position: -144px 0;
				width: 32px;
			}
			.navigation a[href="#dream-team"] {
				background-position: -209px 0;
				width: 47px;
			}
			.navigation a[href="#testimonials"] {
				background-position: -304px 0;
				width: 41px;
			}
			.navigation a[href="#gallery"] {
				background-position: -387px 0;
				width: 26px;
			}
			.navigation a[href="#sexy-treats"] {
				background-position: -460px 0;
				width: 37px;
			}
			.navigation a[href="#contact"] {
				background-position: -540px 0;
				width: 54px;
			}
		.navigation a:hover,
		.navigation a.active,
		.navigation a.active:hover {
			-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
			filter: alpha(opacity=100);
			-moz-opacity: 1;
			-khtml-opacity: 1;
			opacity: 1;
		}
	.login-form {
		float: right;
		text-align: center;
		margin-right: 40px;
		padding: 10px;
		font-size: 11.5px;
	}
		.login-form a {
			color: #fff;
			font-family: 'base_font_bold',sans-serif;
		}
		.text-upp {
			text-transform: uppercase;
		}
		.login-form .form-group {
			position: relative;
		}
			.login-form .form-group input[type="text"] {
				float: left;
				background-color: #e96c81;
				border: none;
				color: #fff;
				font-size: 11px;
				padding: 2px 5px;
			}
			::-webkit-input-placeholder {
			   color: #f4b6c0;
			}
			:-moz-placeholder { /* Firefox 18- */
			   color: #f4b6c0;
			}
			::-moz-placeholder {  /* Firefox 19+ */
			   color: #f4b6c0;
			}
			:-ms-input-placeholder {
			   color: #f4b6c0;
			}
			.login-form .form-group button {
				font-family: 'base_font_bold',sans-serif;
				float: left;
				background-color: #f9dadf;
				border-radius: 3px;
				padding: 2px 5px;
				border: none;
				text-transform: uppercase;
				color: #ea4b61;
				font-size: 11px;
				cursor: pointer;
			}


/*--------------------------------------------
	Content
--------------------------------------------*/
section.main {
	z-index: 10;
	position: relative;
}
	/* clearfix */
	section.main:after, section.main:before {
		content: '';
		display: table;
	}
	section.main:after {
		clear: both;
	}

	#home, #gallery {
		background-repeat: repeat;
		background-size: 100% auto;
		padding: 25px 0;
	}
	.ie8 #home, .ie8 #gallery {
		background-position: center top;
	}
	/* Home */
	#home {
		background-color: #b0b0b0;
		background-image: url(../img/home-bg-lg.jpg);
		background-repeat: no-repeat;
		background-position: center !important;
		background-size: contain;
	}
		#home .container {
			min-height: 748px;
			height: auto !important;
			height: 748px;
			position: relative;
			text-align: center;
			font-size: 16px;
			padding-top: 120px;
		}
			#home .container h1 {
				font-family: 'base_font_light', sans-serif;
				font-weight: 100;
				font-size: 20px;
				text-transform: uppercase;
				margin-bottom: 70px;
			}
			#home .container .welcome-img {
				background-image: url(../img/welcome-to-the-sexy-revolution.png);
				background-repeat: no-repeat;
				background-size: 100% auto;
				width: 587px;
				height: 201px;
				margin: 0 auto 5px;
				text-indent: -9999px;
				text-align: left;
			}
		.scroll-to-join {
			font-family: 'base_font_light', sans-serif;
			font-weight: 100;
			background-image: url(../img/scroll-down.png);
			background-repeat: no-repeat;
			background-position: center bottom;
			font-size: 11px;
			position: absolute;
			left: 50%;
			width: 130px;
			margin-left: -65px;
			bottom: 20px;
			text-align: center;
			padding-bottom: 50px;
		}
	/* About */
	#about {
		background-color: #cacaca;
		background-image: url(../img/about-bg-top.jpg);
		background-position: left top;
		background-repeat: repeat-x;
		/*padding: 0 0 150px 0;*/
		overflow: hidden;
	}
	/*#about:after {
		content: '';
		background-image: url(../img/about-bg-bottom.jpg);
		width: 100%;
		height: 179px;
		position: absolute;
		bottom: 0;
		letter-spacing: 0;
	}*/
		#about .container {
			width: 880px;
			position: relative;
			z-index: 10;
		}
		#about .about-img-bg {
			background-color: #b0b0b0;
			background-image: url(../img/about-bg-img.jpg);
			background-size: cover;
			background-repeat: no-repeat;
			overflow: hidden;
			padding: 160px 0;
			text-align: center;
		}
		#about .container {
			font-size: 21px;
		}
			#about h1 {
				font-family: 'heading_font', georgia;
				font-size: 76px;
				color: #e8475d;
				display: block;
				text-align: center;
				background-image: url(../img/heading-line-top.png);
				background-position: center top;
				background-repeat: no-repeat;
				padding: 40px 0;
				position: relative;
			}
				#about h1:after {
					content: '';
					display: block;
					background-image: url(../img/heading-line-bottom.png);
					background-position: center top;
					background-repeat: no-repeat;
					width: 100%;
					height: 2px;
					position: absolute;
					bottom: 0;
				}
	/* Treatment */
	#treatment {
		background-color: #e9e9e9;
		position: relative;
		padding-top: 30px;
		padding-bottom: 30px;
	}
	#treatment .container {
		width: 880px;
	}
		#treatment hgroup {
			text-align: center;
			color: #7c7c7c;
			margin-bottom: 20px;
		}
			#treatment hgroup h1 {
				font-size: 40px;
				font-family: 'ChaletComprime-CologneSixty';
				line-height: 35px;
				letter-spacing: .5px;
			}
			#treatment hgroup h2 {
				font-size: 28px;
				font-family: 'ChaletComprime-CologneSixty';
				line-height: 25px;
			}
			#treatment hgroup h3 {
				font-size: 50px;
				font-family: 'ChaletComprime-CologneSixty';
				line-height: 45px;
				font-weight: bold;
			}
		#treatment .heading {
			background-color: #fff;
			padding: 10px;
			color: #000;
			font-size: 12px;
			text-align: center;
			margin-bottom: 20px;
		}
			#treatment .heading strong {
				font-size: 16px;
				display: block;
				line-height: 15px;
				color: #ea4b61;
			}
		.white-boxes {
			position: relative;
			margin: 0 -60px 20px;
		}
			.white-boxes>.box {
				float: left;
				width: 217px;
				background-color: #fff;
				color: #7c7c7c;
				text-align: center;
				margin: 108px 58px 0;
				position: relative;
				min-height: 420px;
				height: auto !important;
				height: 420px;
			}
			.white-boxes>.box .btn {
				display: none;
			}
			.white-boxes>.box.with-plus:after {
				content: '+';
				display: block;
				position: absolute;
				font-size: 58px;
				color: #ea4b61;
				right: -75px;
				top: -20px;
			}
				.white-boxes>.box>.content {
					padding: 15px;
					font-size: 15px;
				}
				.white-boxes>.box figure {
					position: relative;
					margin-top: -108px;
				}
				.white-boxes>.box h3 {
					font-size: 14px;
					color: #ea4b61;
				}
					.white-boxes>.box h3 strong {
						background-image: url(../img/white-box-heading-line.png);
						background-repeat: no-repeat;
						background-position: center bottom;
						font-size: 22px;
						text-transform: uppercase;
						display: block;
						line-height: 22px;
						padding-bottom: 5px;
					}
				.white-boxes>.box p {
					margin-bottom: 0;
				}
		.red-boxes {
			position: relative;
			margin: 0 -60px 20px;
		}
			.red-boxes>.box {
				float: left;
				width: 217px;
				background-color: #ea4b61;
				color: #fff;
				text-align: center;
				margin: 0 58px 70px;
				position: relative;
				min-height: 378px;
				height: auto !important;
				height: 378px;
			}
			.red-boxes>.box .btn {
				display: none;
			}
			.red-boxes>.box:after {
				content: '';
				display: block;
				position: absolute;
				left: 0;
				bottom: -60px;

				width: 0;
				height: 0;
				border-left: 108.5px solid transparent;
				border-right: 108.5px solid transparent;

				border-top: 60px solid #ea4b61;
			}
				.red-boxes>.box>.content {
					padding: 15px;
					font-size: 15px;
					position: relative;
					z-index: 10;
					margin-bottom: -20px;
				}
				.red-boxes>.box h3 {
					font-size: 14px;
					color: #fff;
				}
					.red-boxes>.box h3 strong {
						background-image: url(../img/red-box-heading-line.png);
						background-repeat: no-repeat;
						background-position: center bottom;
						font-size: 20px;
						text-transform: uppercase;
						display: block;
						line-height: 20px;
						padding-bottom: 5px;
						letter-spacing: -1px;
					}
				.red-boxes>.box p {
					margin-bottom: 0;
				}
		.teaser {
			background-color: #ea4b61;
			text-align: center;
			width: 92.3%;
			margin: 0 auto 20px;
			font-size: 16px;
			color: #fff;
			height: 32px;
			position: relative;
			padding-top: 6px;
		}
			.teaser:before {
				content: '';
				display: block;
				position: absolute;
				left: 0;
				top: 0;

				width: 0;
				height: 0;
				border-top: 16px solid transparent;
				border-bottom: 16px solid transparent;

				border-left: 16px solid #e9e9e9;
			}
			.teaser:after {
				content: '';
				display: block;
				position: absolute;
				right: 0;
				top: 0;

				width: 0;
				height: 0;
				border-top: 16px solid transparent;
				border-bottom: 16px solid transparent;

				border-right: 16px solid #e9e9e9;
			}
			.teaser>.arrow-on-left,
			.teaser>.arrow-on-right {
				width: 46px;
				height: 32px;
				position: absolute;
				top: 0;
				z-index: 10;
			}
			.teaser>.arrow-on-left {
				background-position: 0 0;
				left: -36px;
			}
			.teaser>.arrow-on-right {
				background-position: -46px 0;
				right: -36px;
			}
	.section-heading {
		text-align: center;
		text-transform: uppercase;
		color: #ea4b61;
		font-size: 22px;
		padding: 60px 20px 30px;
	}
	.section-heading.normal-text {
		text-transform: none;
	}
		.section-heading h1 {
			background-image: url(../img/section-heading-line.png);
			background-repeat: no-repeat;
			background-position: center bottom;
			padding-bottom: 5px;
		}
	/* Location */
	#location {
		position: relative;
		background-color: #fff;
	}
	#location .container {
		width: 880px;
	}
		#location .location-container {
			background-color: #c8c8c8;
			padding-top: 20px;
			padding-bottom: 20px;
		}
		.row {
			position: relative;
			text-align: center;
		}
		.row:before, .row:after {
		    content: " ";
		    display: table;
		}
		.row:after {
			clear: both;
		}
		.row.with.two-column>.column {
			width: 418px;
			display: inline-block;
			padding-left: 40px;
			padding-right: 40px;
			text-align: left;
			vertical-align: top;
		}
		#location address {
			font-style: normal;
			font-size: 15px;
		}
			#location address dt {
				font-family: 'base_font_bold';
				color: #ea4b61;
				margin-top: 5px;
			}
	/* Pricing */
	#pricing {
		position: relative;
		background-color: #e9e9e9;
	}
		#pricing .pricing-img-bg {
			background-color: #9f9f9f;
			background-image: url(../img/package-bg-img.jpg);
			background-size: contain;
			background-repeat: no-repeat;
			overflow: hidden;
			padding: 30px 0;
			text-align: center;
		}
			#pricing .pricing-img-bg>.transparent-white-container {
				background-color: rgba(255,255,255,0.5);
				position: relative;
			}
			#pricing #packages {
				min-height: 262px;
				padding: 30px 0;
				height: auto !important;
				height: 262px;
				position: relative;
			}
			.owl-theme .owl-controls {
				margin-top: 10px;
				position: absolute;
				text-align: center;
				width: 100%;
				bottom: -30px;
			}
			.owl-theme .owl-controls .owl-page span {
				background-color: #fff;
			}
			.owl-theme .owl-controls .owl-page.active span {
				background-color: #ea4b61;
			}
		#pricing #packages .left {
			text-align: right;
			padding-left: 5px;
			padding-right: 5px;
			font-size: 18px;
			color: #000;
		}
			#pricing #packages .left h2 {
				font-size: 60px;
				color: #ea4b61;
				line-height: 60px;
			}
		#pricing #packages .right {
			text-align: left;
			padding-left: 5px;
			padding-right: 5px;
			font-size: 26px;
			line-height: 34px;
			color: #000;
		}
			#pricing #packages .right strong {
				font-family: 'base_font_bold', sans-serif;
				font-weight: 100;
			}
		a[href^="#prev_owl_item"],
		a[href^="#next_owl_item"] {
			background-image: url(../img/sprites.png);
			display: block;
			overflow: hidden;
			text-align: left;
			text-indent: -9999px;
			width: 42px;
			height: 63px;
			position: absolute;
			top: 40%;
			filter: Alpha(Opacity=20);
			opacity: 0.2;
			z-index: 50;
		}
			a[href^="#prev_owl_item"] {
				background-position: 0 -41px;
				left: 50px;
			}
			a[href^="#next_owl_item"] {
				background-position: -42px -41px;
				right: 50px;
			}
		a[href^="#prev_owl_item"]:hover,
		a[href^="#next_owl_item"]:hover {
			filter: Alpha(Opacity=100);
			opacity: 1;
		}
		.instruction {
			font-family: 'base_font_bold', sans-serif;
			font-weight: 100;
			text-align: center;
			font-size: 20px;
			color: #ea4b61;
			margin: 20px 0;
			padding-bottom: 20px;
			background-image: url(../img/instruction-heading-line.png);
			background-repeat: no-repeat;
			background-position: center bottom;
		}

		.tab-container {
			background-color: #9d9d9d;
			margin-bottom: 100px;
			margin-top: 70px;
		}
		.tabs {
		  float: none;
		  margin: -38px auto 0;
		  min-height: 1px;
		}
		.tabs article {
		  width: 100%;
		  float: left;
		}
			.tabs article button {
				position: absolute;
				z-index: 10;
				top: 20px;
				right: 20px;
				border-radius: 50%;
				width: 62px;
				height: 62px;
				border: 3px solid #fff;
				background-color: #a4a4a4;
				color: #fff;
				text-align: center;
				font-size: 10px;
				line-height: 12px;
				padding-top: 5px;
				cursor: pointer;
				display: none;
				outline: none;
			}
			.tabs article>figure {
				float: left;
				width: 50%;
				text-align: center;
			}
			.tabs article>figure img {
				width: 100%;
			}

		.tabs-nav {
		  padding: 0;
		  margin: 0;
		  float: left;
		  position: relative;
		  top: auto;
		  right: auto;
		  bottom: -1px;
		  list-style: none;
		  z-index: 10;
		}
		.tabs-nav a {
		  float: left;
		  text-align: center;
		  text-decoration: none;
		  font-size: 20px;
		  text-transform: uppercase;
		  color: #9d9d9d;
		  padding-top: 8px;

		  background-image: url(../img/sprites.png);
		  display: inline-block;
		  overflow: hidden;
		  width: 153px;
		  height: 39px;
		  background-position: -1px -104px;
		}
		.tabs-nav a.current {
		  background-position: 0 -143px;
		  color: #fff;
		}

	/* Deram Team */
	#dream-team {
		position: relative;
		background-color: #c4c4c4;
		padding: 20px 0;
	}
		#dream-team .container {
			width: 1022px;
		}
		#dream-team header {
			text-align: center;
			width: 740px;
			margin: 0 auto;
			padding: 10px 0 15px;
			margin-bottom: 20px;
			color: #fff;
			font-size: 20px;
			position: relative;
		}
		#dream-team header:before {
			content: '';
			border: 0;
		    height: 2px;
		    width: 100%;
		    background-image: -webkit-linear-gradient(left, rgba(255,255,255,0), rgba(255,255,255,0.75), rgba(255,255,255,0));
		    background-image:    -moz-linear-gradient(left, rgba(255,255,255,0), rgba(255,255,255,0.75), rgba(255,255,255,0));
		    background-image:     -ms-linear-gradient(left, rgba(255,255,255,0), rgba(255,255,255,0.75), rgba(255,255,255,0));
		    background-image:      -o-linear-gradient(left, rgba(255,255,255,0), rgba(255,255,255,0.75), rgba(255,255,255,0));

		    position: absolute;
		    top: 0;
		    left: 0;
		}
		#dream-team header:after {
			content: '';
			border: 0;
		    height: 2px;
		    width: 100%;
		    background-image: -webkit-linear-gradient(left, rgba(255,255,255,0), rgba(255,255,255,0.75), rgba(255,255,255,0));
		    background-image:    -moz-linear-gradient(left, rgba(255,255,255,0), rgba(255,255,255,0.75), rgba(255,255,255,0));
		    background-image:     -ms-linear-gradient(left, rgba(255,255,255,0), rgba(255,255,255,0.75), rgba(255,255,255,0));
		    background-image:      -o-linear-gradient(left, rgba(255,255,255,0), rgba(255,255,255,0.75), rgba(255,255,255,0));

		    position: absolute;
		    bottom: 0;
		    left: 0;
		}
			#dream-team header em {
				font-style: normal;
				color: #e94c61;
			}
		#dream-team .team {
			min-height: 622px;
			height: auto !important;
			height: 622px;
			margin-bottom: -232px;
			padding-top: 164px;
		}
		#dream-team .team.left-align,
		#dream-team .team.right-align {
			padding-top: 200px;
		}
		#dream-team .team:last-child {
			margin-bottom: -50px;
		}
		#dream-team .team .big-photo {
			top: -166px;
		}
		#dream-team .team.featured .big-photo,
		#dream-team .team.left-align .big-photo {
			right: 0;
		}
		#dream-team .team.right-align .big-photo {
			left: 0;
		}
		.big-photo {
			background-repeat: no-repeat;
			position: absolute;
			text-indent: -9999px;
			text-align: left;
		}
			.cristalle.big-photo {
				background-image: url(../img/cristalle.png);
				width: 715px;
				height: 959px;
			}
			.nadine.big-photo {
				background-image: url(../img/nadine.png);
				width: 790px;
				height: 926px;
			}
			.edward.big-photo {
				background-image: url(../img/edward.png);
				width: 774px;
				height: 762px;
			}
		#dream-team .team .content {
			position: relative;
			z-index: 20;
		}
			#dream-team .team .content .details h4 {
				background-color: #e34761;
				color: #fff;
				height: 56px;
				width: 100%;
				margin-bottom: 4px;
				padding: 8px 15px 0;
				font-size: 21px;
				font-weight: 100;
				position: relative;
			}
				#dream-team .team .content .details h4 span {
					font-size: 12px;
					display: block;
				}
				#dream-team .team.featured .content .details h4 {
					text-align: right;
				}
					#dream-team .team.featured .content .details h4:after {
						content: '';
						position: absolute;
						left: 0;
						top: 0;

						width: 0;
						height: 0;
						border-top: 28px solid transparent;
						border-bottom: 28px solid transparent;

						border-left: 20px solid #c4c4c4;
					}
				#dream-team .team.right-align .content .details h4 {
					text-align: right;
					padding-right: 112px;
				}
					#dream-team .team.right-align .content .details h4:after {
						content: '';
						position: absolute;
						left: -20px;
						top: 0;

						width: 0;
						height: 0;
						border-top: 28px solid transparent;
						border-bottom: 28px solid transparent;

						border-right: 20px solid #e34761;
					}
				#dream-team .team.left-align .content .details h4 {
					text-align: right;
					padding-left: 112px;
				}
					#dream-team .team.left-align .content .details h4:after {
						content: '';
						position: absolute;
						right: -20px;
						top: 0;

						width: 0;
						height: 0;
						border-top: 28px solid transparent;
						border-bottom: 28px solid transparent;

						border-left: 20px solid #e34761;
					}
			#dream-team .team .content .details article  {
				background-color: #848383;
				color: #fff;
				padding: 15px;
				text-align: left;
				line-height: 18px !important;
			}
			#dream-team .team .content .btn.btn-gray {
				display: none;
			}
		#dream-team .team.featured .content {
			width: 592px;
		}
		#dream-team .team.left-align .content,
		#dream-team .team.right-align .content {
			width: 582px;
		}
		#dream-team .team.featured .content,
		#dream-team .team.left-align .content {
			float: left;
		}
			#dream-team .team.featured .content .circled-img {
				float: left;
				width: 279px;
			}
				#dream-team .team .content .circled-img .colored-img {
					display: none;
				}
			#dream-team .team.featured .content .details {
				float: left;
				width: 312px;
				padding-top: 22px;
			}

			#dream-team .team.right-align .content .circled-img {
				float: left;
				width: 224px;
				left: 286px;
				position: relative;
				top: 9px;
				z-index: 20;
			}
			#dream-team .team.right-align .content .details {
				float: left;
				width: 358px;
				padding-top: 22px;
				right: 170px;
				position: relative;
			}
				#dream-team .team.right-align .content .details article {
					padding: 10px 112px 10px 10px;
					line-height: 14px;
					font-size: 14px;
				}


			#dream-team .team.left-align .content .circled-img {
				float: left;
				width: 224px;
				left: 58px;
				position: relative;
				top: 9px;
				z-index: 20;
			}
			#dream-team .team.left-align .content .details {
				float: left;
				width: 358px;
				padding-top: 22px;
				left: -46px;
				position: relative;
			}
				#dream-team .team.left-align .content .details article {
					padding: 10px 10px 10px 112px;
					line-height: 14px;
					font-size: 14px;
				}
		#dream-team .team.right-align .content {
			float: right;
		}

	/* Testimonials */
	#testimonials {
		background-image: url(../img/pattern-bg.jpg);
		background-repeat: repeat;
		position: relative;
		min-height: 600px;
		height: auto !important;
		height: 600px;
	}
		#testimonials:after {
			content: '';
			display: block;
			position: absolute;
			top: -1px;
			left: 0;
			background-image: url(../img/faded-white-top.png);
			background-repeat: repeat-x;
			width: 100%;
			height: 244px;
		}
		#testimonials:before {
			content: '';
			display: block;
			position: absolute;
			bottom: -1px;
			left: 0;
			background-image: url(../img/faded-white-bottom.png);
			background-repeat: repeat-x;
			width: 100%;
			height: 244px;
		}
			#testimonials .container {
				position: relative;
				z-index: 10;
				padding: 0 0 150px;
			}
				.celebrities {
					position: relative;
					text-align: center;
				}
					.celebrities .celebrity {
						display: inline-block;
						width: 211px;
						margin: 0 62px 28px;
						position: relative;
						overflow: hidden;
					}
						.celebrities .celebrity .read-more {
							font-family: 'base_font_bold',sans-serif;
							display: block;
							font-size: 11.5px;
							text-transform: uppercase;
							position: absolute;
							z-index: 10;
							bottom: 10px;
							right: 10px;
							color: #e34761;
						}
							.celebrities .celebrity .read-more:after {
								content: '';
								background-image: url(../img/sprites.png);
								background-position: -84px -89px;
								overflow: hidden;
								text-align: left;
								text-indent: -9999px;
								display: inline-block;
								width: 7px;
								height: 11px;
								bottom: 0;
								margin-left: 3px;
								top: 1px;
								position: relative;
							}
						.celebrities .celebrity header {
							width: 100%;
							font-family: 'base_font_light', sans-serif;
							background-image: url(../img/transparent-black-heading.png);
							background-repeat: no-repeat;
							background-position: left top;
							text-align: center;
							color: #fff;
							font-size: 14px;
							position: absolute;
							left: 0;
							top: 0;
							z-index: 10;
							height: 82px;
							padding-left: 10px;
							padding-right: 10px;
						}
							.celebrities .celebrity header span {
								text-transform: uppercase;
								display: block;
								position: relative;
								width: 100%;
								position: relative;
								padding: 5px 0;
								margin-bottom: 2px;
							}
								.celebrities .celebrity header span:after {
									content: '';
									display: block;
									position: absolute;
									width: 100px;
									height: 1px;
									background-color: #fff;
									left: 50%;
									margin-left: -50px;
									bottom: 0;
								}
						.celebrities .celebrity figure {
							display: block;
						}
							.celebrities .celebrity figure img {
								vertical-align: top;
							}
				.celebrity-tweets {
					position: relative;
					text-align: center;
					padding-left: 10%;
				}
					.celebrity-tweets .each-tweet {
						float:left;
						width: 208px;
						margin: 0 15px;
						position: relative;
						overflow: hidden;

					}
						.celebrity-tweets .each-tweet .tweet {
							text-align: left;
							color: #fff;
							font-size: 11px;
							line-height: 12px;
							background-color: #e34761;
							padding: 12px 10px;
							margin-bottom: 12px;
							position: relative;
							min-height: 84px;
							height: auto !important;
							height: 84px;
						}
							.celebrity-tweets .each-tweet .tweet:after {
								content: '';
								display: block;
								position: absolute;
								left: 10%;
								bottom: -10px;
								width: 0;
								height: 0;
								border-left: 10px solid transparent;
								border-right: 10px solid transparent;

								border-top: 10px solid #e34761;
							}
						.celebrity-tweets .each-tweet .tprofile {
							position: relative;
						}
							.celebrity-tweets .each-tweet .tprofile figure {
								float: left;
								width: 64px;
								height: 64px;
								overflow: hidden;
								border-radius: 50%;
								border: 3px solid #e34761;
							}
								.celebrity-tweets .each-tweet .tprofile figure img {
									border-radius: 50%;
								}
							.celebrity-tweets .each-tweet .tprofile .tname {
								float: left;
								color: #000;
								text-align: left;
								width: 144px;
								padding-left: 10px;
								padding-top: 5px;
							}
							.celebrity-tweets .each-tweet .tprofile .tname a {
								color: #000;
								font-size: 12px;
							}
								.celebrity-tweets .each-tweet .tprofile .tname .name {
									display: block;
									text-transform: uppercase;
									font-size: 13px;
								}
				.fans-message {
					position: relative;
					text-align: center;
				}
					.fans-message .each-message {
						display: inline-block;
						width: 208px;
						margin: 0 15px;
						position: relative;
						overflow: hidden;
						vertical-align: top;
					}
						.fans-message .each-message .fan-message {
							text-align: left;
							color: #e34761;
							font-size: 11px;
							line-height: 12px;
							background-color: #dddddd;
							padding: 12px 10px;
							position: relative;
							z-index: 10;
						}
							.fans-message .each-message .fan-message:after {
								content: '';
								display: block;
								position: absolute;
								left: 10%;
								bottom: -10px;
								width: 0;
								height: 0;
								border-left: 10px solid transparent;
								border-right: 10px solid transparent;

								border-top: 10px solid #dddddd;
							}
						.fans-message .each-message .fan-name {
							text-align: left;
							color: #fff;
							font-size: 11px;
							line-height: 12px;
							background-color: #e34761;
							padding: 12px 10px;
							margin-bottom: 12px;
							position: relative;
						}

	/* Gallery */
	#gallery {
		padding: 0 0 50px;
	}
		#gallery>.container {
			width: 960px;
		}
			/* Gallery */
			.gallery-list {
				position: relative;
			}
				.view-entry {
					position: absolute;
					left: 0;
					top: 0;
					z-index: 100;
					width: 400px;
					height: 400px;
					overflow: hidden;
					display: none;
				}
					.view-entry .close-entry {
						background-position: -154px -72px;
						width: 28px;
						height: 29px;
						position: absolute;
						top: 10px;
						right: 10px;
						cursor: pointer;
						z-index: 10;
					}
					.view-entry .votes {
						 font-family: 'base_font_light_reg', sans-serif;
						background-color: #671242;
						color: #fff;
						width: 72px;
						border-radius: 0 0 6px 6px;
						position: absolute;
						top: 0;
						left: 10px;
						text-align: center;
						z-index: 10;
						font-size: 14px;
						padding: 5px 10px;
						box-shadow: -2px 2px 2px #000;
					}
						.view-entry .votes .vote-counts {
							font-family: 'base_font', sans-serif;
							display: block;
							font-size: 18px;
						}
					.view-entry .details {
						background: rgba(0,0,0,0.7);
						position: absolute;
						width: 100%;
						left: 0;
						bottom: -100%;
						z-index: 20;
						color: #fff;
						font-size: 13px;
						padding: 8px 5px 10px;
					}
					.ie8 .view-entry .details {
						background: url(../img/transparent-black.png) repeat;
					}
						.view-entry .details header {
							font-size: 16px;
						}
							.view-entry .details header a {
								color: #fff;
							}
							.view-entry .details header .instagram {
								float: left;
							}
								.view-entry .details header .instagram:before {
									content: '';
									background: url(../img/sprites.png) -158px -515px no-repeat;
									display: inline-block;
									width: 21px;
									height: 21px;
									position: relative;
									margin-bottom: -5px;
									margin-right: 5px;
								}
							.view-entry .details header .fullname {
								float: right;
							}
						.view-entry .details footer {
							position: relative;
							height: 42px;
							margin: 0 -5px;
						}
							.view-entry .details footer .btn {
								width: 230px;
								margin: 0 auto;
								display: block;
							}
							.view-entry .details footer .fb-share {
								background-position: 0 -515px;
								width: 43px;
								height: 43px;
								position: absolute;
								left: 0;
								top: 0;
							}
							.view-entry .details footer .tw-share {
								background-position: -45px -515px;
								width: 43px;
								height: 43px;
								position: absolute;
								right: 0;
								top: 0;
							}
					.view-entry .entry-video {
						width: 100%;
						height: 100%;
						position: relative;
					}
						.view-entry .entry-video .play-btn {
							background-position: -142px -22px;
							height: 22px;
							display: block;
							position: absolute;
							z-index: 100;
							top: 35%;
							left: 50%;
							margin-left: -21px;
							width: 43px;
							height: 50px;
						}
				.gallery-list ul {
					list-style-type: none;
					margin: 0;
					padding: 0;
					position: relative;
				}
					.gallery-list ul li {
						display: block;
						float: left;
						width: 240px;
						height: auto;
						cursor: pointer;
						position: relative;
						border: #e34761 2px solid;
					}
						.gallery-list ul li .overlay {
							display: block;
							width: 100%;
							height: 100%;
							background-image: url(../img/transparent-black.png);
							background-repeat: repeat;
							z-index: 10;
							position: absolute;
							left: 0;
							top: 0;
							cursor: pointer;
						}
							.gallery-list ul li .overlay:after {
								content: '';
								background: url(../img/play-btn.png) no-repeat;
								width: 54px;
								height: 62px;
								display: block;
								position: absolute;
								left: 50%;
								top: 42%;
								margin-left: -28px;
							}
						.gallery-list ul li.controls:after {
							background: none;
						}
					.gallery-list ul li.controls {
						background-color: #d22587;
						color: #fff;
						font-family: 'base_font_light_reg';
						text-transform: uppercase;
						font-size: 12px;
						cursor: default;
					}
						.gallery-list ul li.controls .holder {
							width: 100%;
							height: 100%;
							position: absolute;
							top: 0;
							left: 0;
							z-index: 50;
							padding: 30px 40px 0;
						}
					.gallery-list ul li.controls .label {
						display: inline-block;
						padding-right: 5px;
					}
					.gallery-list ul li.controls select {
						width: 50%;
					}
					.gallery-list ul li.controls a {
						display: block;
						padding: 8px 0;
					}
	/* Sexy Treats */
	#sexy-treats {
		background-image: url(../img/sexy-treats-bg.jpg);
		background-repeat: repeat-x;
		background-size: cover;
		position: relative;
		min-height: 600px;
		height: auto !important;
		height: 600px;
	}
		#sexy-treats .subheading {
			font-size: 18px;
			color: #000;
			margin-top: -10px;
		}
		#sexy-treats .sexy-treats-form {
			padding: 130px 0;
		}
		#sexy-treats .label {
			color: #e34761;
			font-size: 20px;
		}
			#sexy-treats .sexy-treats-form input[type="text"] {
				display: block;
				width: 395px;
				border-radius: 6px;
				background-color: #f09aa9;
				padding: 10px;
				border: none;
				margin: 0 auto 10px;
				text-align: center;
			}
			#sexy-treats .sexy-treats-form button {
				text-transform: uppercase;
				color: #fff;
				background-color: #e34761;
				border: none;
				cursor: pointer;
				border-radius: 6px;
				font-size: 18px;
				padding: 5px 10px;
			}
		#sexy-treats:after {
			content: '';
			display: block;
			position: absolute;
			top: -1px;
			left: 0;
			background-image: url(../img/faded-white-top.png);
			background-repeat: repeat-x;
			background-position: 0 -125px;
			width: 100%;
			height: 244px;
		}
		#sexy-treats:before {
			content: '';
			display: block;
			position: absolute;
			bottom: -1px;
			left: 0;
			background-image: url(../img/faded-white-bottom.png);
			background-repeat: repeat-x;
			background-position: 0 120px;
			width: 100%;
			height: 244px;
		}
			#sexy-treats .container {
				position: relative;
				z-index: 10;
				padding: 0 0 150px;
				text-align: center;
			}
	/* Contact */
	#contact {
		background-color: #ffffff;
		padding: 30px 0 0;
		position: relative;
	}
		#contact .container {
			width: 880px;
			position: relative;
			z-index: 10;
			color: #e34761;
			font-size: 18px;
			text-align: center;
		}
			#contact .container hr {
				background: url(../img/contact-separator.png) center top no-repeat;
				width: 100%;
				height: 2px;
				margin: 40px auto;
				border: none;
			}
			#contact .container a {
				color: #e34761;
			}
		#contact .contact-img-bg {
			background-color: #444;
			background-image: url(../img/contact-us-img.jpg);
			background-repeat: no-repeat;
			background-position: center top;
			overflow: hidden;
			padding: 45px 0;
			text-align: center;

		}
		#contact .contact-number {
			background: url(../img/contact-number.png);
			background-repeat: no-repeat;
			display: block;
			width: 167px;
			height: 38px;
			margin: 15px auto;
			text-indent: -9999px;
			text-align: left;
		}
	.pink-bar{
		display: block;
		width: 100%;
		height: 100px;
		background-color: #e63f52;
		border-radius: 3px;
	}

/*--------------------------------------------
	Footer
--------------------------------------------*/
footer.main {
	display: none;
	background-color: #636363;
	background-color: rgba(0,0,0,0.5);
	position: relative;
	color: #fff;
	font-size: 14px;
	position: fixed;
	bottom: 0;
	padding: 2px 0;
}
	footer.main a {
		color: #fff;
	}
	footer.main a:hover {
		color: #fff;
	}
	/* clearfix */
	footer.main:after, footer.main:before {
		content: '';
		display: table;
	}
	footer.main:after {
		clear: both;
	}
	footer.main .hashtag {
		font-family: 'base_font', sans-serif;
		font-weight: 100;
		float: left;
		font-size: 15px;
	}
	footer.main .socials {
		float: right;
		overflow: hidden;
	}
		footer.main .socials a {
			background-image: url(../img/socials.png);
			background-repeat: no-repeat;
			color: #fff;
			height: 18px;
			text-indent: -9999px;
			text-align: left;
			display: block;
			float: left;
			margin-left: 40px;

			-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
			filter: alpha(opacity=50);
			-moz-opacity: 0.5;
			-khtml-opacity: 0.5;
			opacity: 0.5;
		}
			footer.main .socials a.fb {
				background-position: 0 0;
				width: 7px;
			}
			footer.main .socials a.tw {
				background-position: -56px 0;
				width: 16px;
			}
			footer.main .socials a.yt {
				background-position: -119px 0;
				width: 14px;
			}
			footer.main .socials a.in {
				background-position: -179px 0;
				width: 16px;
			}
		footer.main .socials a:hover {
			-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
			filter: alpha(opacity=100);
			-moz-opacity: 1;
			-khtml-opacity: 1;
			opacity: 1;
		}

/* Select */
.select-style {
	border-radius: 6px;
	border: 1px solid #878f96;
	background-color: #fff;
	color: #363636;
	width: 100%;
	font-size: 16px;
	font-family: inherit;
	padding: 10px 48px 10px 10px;
}
	.select-style .arrow-down {
		background: url(../img/arrow-down.png) no-repeat center center;
		border-left: 1px solid #fda2be;
		border: none;
		position: absolute;
		top: 1px;
		right: 1px;
		border-radius: 0 5px 5px 0;
		background-color: #d22587;
		cursor: pointer;
		width: 40px;
		height: 38px;
	}
.listing-box .form .form-group .select-style {
	position: absolute;
}
.select-style ul {
	background-color: #eee;
	border: 1px solid #878f96;
	border-radius: 6px;
	color: #363636;
	position: absolute;
	z-index: 10;
	right: 0;
	top: 40px;
	list-style: none;
	margin: 0;
	padding: 0;
	width: 100%;
	display: none;
	overflow: hidden;
}
	.select-style ul li {
		padding: 5px 10px;
		border-bottom: 1px solid #878f96;
		cursor: default;
	}
	.select-style ul li:hover {
		color: #fff;
		background-color: #d22587;
	}
	.select-style ul li:last-child {
		border: none;
	}

/* Popup */
.pink-popup {
	background-color: #e63f52;
	border-radius: 3px;
	border: 3px solid #fff;
	padding: 30px 15px;
	max-width: 500px;
	margin: 0 auto;
	position: relative;
	color: #fff;
}
.video-popup {
	background-color: #000;
	border-radius: 3px;
	border: 3px solid #e63f52;
	padding: 30px 15px;
	max-width: 500px;
	margin: 0 auto;
	position: relative;
	color: #fff;
}
.black-popup {
	background-color: #000;
	max-width: 500px;
	margin: 0 auto;
	position: relative;
	color: #fff;
}
.black-popup .mfp-close,
.video-popup .mfp-close {
	color: #fff;
}
.celebrity-fullview {
	width: 100%;
}
	.celebrity-fullview .celeb-photo {
		float: left;
		width: 65%;
	}
		.celebrity-fullview .celeb-photo img {
			display: inline-block;
			max-width: 100%;
			vertical-align: top;
		}
	.celebrity-fullview .celeb-details {
		float: left;
		width: 35%;
		padding: 30px 15px 0;
		font-size: 13px;
		line-height: 16px;
	}
.small-popup {
	max-width: 350px;
}
.large-popup {
	max-width: 750px;
}
	.pink-popup header {
		text-align: center;
		font-size: 32px;
		line-height: 32px;
	}
	.pink-popup .form-holder {
		padding-top: 20px;
		position: relative;
		margin: 0 -5px;
	}
	.pink-popup .form-holder a {
		color: #fff;
		text-transform: none;
	}
	.small-text {
		font-size: 12px;
	}
		.pink-popup .form-holder label {
			display: block;
			padding-bottom: 5px;
		}
			.pink-popup .form-holder input {
				width: 100%;
				padding: 10px;
				background-color: #fff;
				box-shadow: inset 0 5px 5px #aba9a9;
				border: 1px solid #c7626e;
				margin-bottom: 10px;
			}
			.pink-popup .form-holder input[type="text"].width-65-percent {
				width: 65%;
			}
		.pink-popup .form-holder .half {
			width: 50%;
			float: left;
			padding: 0 5px;
		}
		.pink-popup .form-holder .whole {
			width: 100%;
			float: left;
			padding: 0 5px;
		}
		.pink-popup .form-holder button {
			font-family: 'base_font_light';
			background-color: #f9dadf;
			border-radius: 10px;
			padding: 5px 10px;
			border: none;
			text-transform: uppercase;
			color: #ea4b61;
			font-size: 24px;
			cursor: pointer;
			margin: 10px 0;
		}
		.pink-popup .error-mgs {
			padding: 15px;
		}
		.info-mgs {
			font-size: 18px;
			text-align: center;
		}
			.info-mgs header {
				font-size: 32px;
				line-height: 32px;
				padding-bottom: 10px;
			}
			.info-mgs .info-mgs-details {
				font-family: 'base_font_light';
			}

.hide-large {
	display: none;
}
.hide-medium {
	display: block;
}


/*--------------------------------------------
	Responsive
--------------------------------------------*/
@media screen and (min-width: 1000px) {
	.navigation {
		display: block !important;
	}
}
@media screen and (min-width: 768px) {
	.white-boxes>.box p,
	.tabs article>figure {
		display: block !important;
	}
}
@media screen and (max-width: 1199px) {
	.container {
		width: 1000px;
	}
	/* Home */
	.home-video {
		left: 30%;
		width: 70%;
	}
	.home-details {
		width: 30%;
		right: 70%;
	}
}

@media screen and (max-width: 999px) {
	.hide-large,
	#mininav {
		display: block;
	}
		/* Navigaition */
		.navigation {
			background-color: #da415a;
			position: absolute;
			z-index: 999;
			right: 0;
			top: 44px;
			width: 260px;
			padding: 0;
			z-index: 5;
		}
			.navigation a {
				background-image: none;
				text-indent: 1px;
				text-align: right;
				float: none;
				margin: 0;
				width: auto !important;
				border-bottom: 1px solid #e34761;
				padding: 10px 20px 30px;
			}
	.hide-medium,
	.navigation {
		display: none;
	}
	.gallery-list ul li.controls .holder {
		padding: 10px 10px 0;
	}
	header.main {
		height: 44px;
	}
		.logo {
			background-size: 100% auto;
			width: 66px;
			height: 80px;
		}
		.login-form {
			margin-right: 52px;
			padding: 7px;
			font-size: 10px;
			text-align: left;
		}
			.login-form .form-group input[type="text"] {
				width: 110px;
			}
	.container,
	#home,
	#gallery,
	footer.main .container,
	#location .container {
		width: 100%;
		padding-left: 20px;
		padding-right: 20px;
	}
		.row.with.two-column>.column {
			width: 50%;
			float: left;
		}
		#home {
			background-size: cover;
			background-position: center bottom !important;
		}
	#about,
	#treatment {
		width: 100%;
	}
		#about .about-img-bg {
			background-size: cover;
		}
		#about .container {
			width: 100%;
			padding-left: 20px;
			padding-right: 20px;
		}
	#treatment .container {
		width: 758px;
		margin: 0 auto;
	}
	.white-boxes>.box {
		width: 180px;
		margin: 108px 29px 0;
	}
		.white-boxes>.box figure img {
			max-width: 100%;
			vertical-align: top;
		}
		.white-boxes>.box.with-plus:after {
			right: -42px;
			font-size: 50px;
		}
		.white-boxes>.box h3 strong {
			font-size: 18px;
			line-height: 18px;
		}
		.white-boxes>.box>.content {
			font-size: 14px;
		}
		.teaser {
			width: 90%;
			padding: 9px 15px;
			height: auto;
		}
			.teaser>.arrow-on-left, .teaser>.arrow-on-right,
			.teaser:before, .teaser:after {
				top: 24%;
			}
		.white-boxes {
			margin: 0 0 20px;
		}
	.red-boxes {
		margin: 0 0 20px;
	}
	.red-boxes>.box {
		width: 180px;
		margin: 0 29px 70px;
	}
		.red-boxes>.box>.content {
			font-size: 14px;
		}
		.red-boxes>.box:after {
			bottom: -40px;
			border-left: 90px solid transparent;
			border-right: 90px solid transparent;
			border-top: 40px solid #ea4b61;
		}
	.view-entry {
		width: 40%;
		height: auto;
	}
	.view-entry .entry-video img {
		width: 100%;
	}

	#gallery .page-header>figure {
		width: 30%;
	}
	.gallery-list ul li {
		width: 20%;
		height: auto;
	}
		.gallery-list ul li img {
			width: 100%;
			height: 100%;
		}
	.view-entry .details footer .btn {
		width: 173px;
		font-size: 16px;
		padding: 7px 5px;
	}
		.view-entry .details footer .tw-share {
			background-position: -124px -515px;
			width: 33px;
			height: 34px;
		}
		.view-entry .details footer .fb-share {
			background-position: -89px -515px;
			width: 34px;
			height: 34px;
		}
	#pricing #packages {
		min-height: 198px;
	}
		#pricing #packages .left h2 {
			font-size: 46px;
			line-height: 46px;
		}
		#pricing #packages .left {
			font-size: 14px;
		}
		#pricing #packages .right {
			font-size: 20px;
			line-height: 26px;
		}
		a[href^="#prev_owl_item"],
		a[href^="#next_owl_item"] {
			width: 32px;
			height: 48px;
			top: 40%;
		}
			a[href^="#prev_owl_item"] {
				background-position: -84px -41px;
				left: 50px;
			}
			a[href^="#next_owl_item"] {
				background-position: -116px -41px;
				right: 50px;
			}
	#dream-team .container {
		width: 720px;
		margin: 0 auto;
	}
		#dream-team .team.featured .content,
		#dream-team .team.left-align .content, #dream-team .team.right-align .content {
			width: 100%;
		}
		#dream-team header {
			width: 100%;
		}
			#dream-team .team {
				min-height: 140px;
				height: auto !important;
				height: 140px;
				margin-bottom: 0;
				padding-top: 0;
			}
				#dream-team .team .big-photo {
					background-image: none;
					display: none;
				}
				#dream-team .team.left-align, #dream-team .team.right-align {
					padding-top: 0;
				}
				#dream-team .team .content .circled-img .gray-img {
					display: none;
				}
				#dream-team .team .content .circled-img .colored-img {
					display: block;
				}
			#dream-team .team.featured .content .circled-img {
				width: 196px;
			}
			#dream-team .team.featured .content .details {
				width: 482px;
			}

			#dream-team .team.right-align .content .circled-img {
				left: 486px;
			}
				#dream-team .team.right-align .content .details h4 {
					text-align: left;
					padding-right: 10px;
				}
				#dream-team .team.right-align .content .details h4:after {
					border-top: 28px solid transparent;
					border-bottom: 28px solid transparent;
					border-left: 20px solid #e34761;
					border-right: transparent;
					right: -20px;
					left: auto;
				}
				#dream-team .team.right-align .content .details article {
					padding-right: 10px;
				}
			#dream-team .team.right-align .content .details {
				right: 216px;
				width: 444px;
			}
		#dream-team .team.left-align .content .circled-img {
			left: 0;
		}
			#dream-team .team.left-align .content .details {
				width: 444px;
				left: 0;
			}
			#dream-team .team.left-align .content .details h4:after {
				border-top: 28px solid transparent;
				border-bottom: 28px solid transparent;
				border-right: 20px solid #e34761;
				border-left: transparent;
				left: -20px;
				right: auto;
			}
			#dream-team .team .content .details h4,
			#dream-team .team.left-align .content .details article {
				padding-left:10px;
			}
	#gallery>.container {
		width: 100%;
	}
		.gallery-list ul li {
			width: 25%;
		}
	#contact .container {
		width: 100%;
		padding-left: 20px;
		padding-right: 20px;
		font-size: 14px;
	}
		#contact .container hr {
			margin: 20px auto;
		}
}
@media screen and (max-width: 767px) {
	.gallery-list ul li {
		width: 25%;
	}
	#about {
		padding: 70px 0;
	}
		#about:after {
			background-image: none;
		}
		#about h1 {
			font-size: 34px;
			padding: 15px 0;
		}
		#about .container {
			font-size: 14px;
		}
	#treatment .container {
		width: 100%;
		padding-left: 20px;
		padding-right: 20px;
	}
		#treatment hgroup h1 {
			font-size: 17px;
			line-height: 17px;
		}
		#treatment hgroup h2 {
			font-size: 13px;
			line-height: 13px;
		}
		#treatment hgroup h3 {
			font-size: 23px;
			line-height: 23px;
		}
		#treatment .heading strong {
			font-size: 12px;
			line-height: 14px;
		}
		.white-boxes>.box {
			width: 100%;
			margin: 0 0 20px;
			background-color: transparent;
			min-height: 110px;
			height: auto;
		}
		.white-boxes>.box.with-plus:after {
			content: '';
		}
			.white-boxes>.box p, .red-boxes>.box p {
				display: none;
			}
			.white-boxes>.box .btn, .red-boxes>.box .btn {
				display: inline-block;
			}
		.white-boxes>.box figure {
			margin: 0;
			float: left;
			width: 35%;
		}
		.white-boxes>.box>.content {
			background-color: #fff;
			width: 75%;
			float: left;
			margin-left: -10%;
			margin-top: 4px;
			padding-left: 30px;
		}
	.teaser {
		font-size: 14px;
	}
	.row.with.two-column>.column {
		padding-left: 20px;
		padding-right: 20px;
	}
	.red-boxes>.box {
		min-height: 100px;
		width: 100%;
		margin: 0 0 60px;
	}
		.red-boxes>.box:after {
			border: none;
			background: url(../img/arrow-down-red.png) no-repeat center bottom;
			position: absolute;
			width: 100%;
			overflow: hidden;
			height: 41px;
			bottom: -40px;
			left: 50%;
			margin-left: -50%;
		}
		.red-boxes>.box h3 strong {
			font-size: 18px;
			line-height: 18px;
		}
	#pricing #packages {
		min-height: 162px;
	}
		#pricing #packages .left h2 {
			font-size: 24px;
			line-height: 24px;
		}
		#pricing #packages .left {
			font-size: 12px;
		}
		#pricing #packages .right {
			font-size: 14px;
			line-height: 16px;
		}
		a[href^="#prev_owl_item"],
		a[href^="#next_owl_item"] {
			width: 19px;
			height: 28px;
			top: 40%;
		}
			a[href^="#prev_owl_item"] {
				background-position: -117px 0;
				left: 10px;
			}
			a[href^="#next_owl_item"] {
				background-position: -136px 0;
				right: 10px;
			}
		#pricing #packages .left, #pricing #packages .right {
			width: 50% !important;
			float: left;
		}
	.instruction {
		font-size: 14px;
	}
	#dream-team .container {
		width: 300px;
		margin: 0 auto;
	}
		#dream-team header {
			font-size: 14px;
		}
		#dream-team .team.featured .content .circled-img {
			float: none;
			margin: 0 auto -40px;
			width: 215px;
		}
		#dream-team .team.featured .content .details {
			width: 100%
		}
		#dream-team .team.right-align .content .circled-img {
			left: auto;
			width: 214px;
			margin: 0 auto -34px;
			float: none;
		}
		#dream-team .team.right-align .content .details {
			right: auto;
			width: 100%;
		}
		#dream-team .team.left-align .content .circled-img {
			width: 216px;
			margin: 0 auto -34px;
			float: none;
		}
		#dream-team .team.left-align .content .details {
			width: 100%;
		}
		#dream-team .team.left-align .content .details h4 {
			padding-left: 10px;
		}
	.section-heading h1 {
		font-size: 20px;
	}
	.celebrity-fullview .celeb-photo,
	.celebrity-fullview .celeb-details {
		width: 50%;
	}
}
@media screen and (max-width: 589px) {
	#home .container .welcome-img {
		width: 100%;
	}

	.gallery-list ul li .overlay:after {
		background-size: 100% auto;
		width: 30px;
		top: 36%;
		margin-left: -5px;
	}
	.row.with.two-column>.column {
		width: 100%;
		float: none;
		margin-bottom: 20px;
	}
	.tab-container .container {
		padding-left: 0;
		padding-right: 0;
	}
		.tabs-nav a {
			width: 150px;
		}
		.tabs article>figure {
			width: 100%;
		}
		.tabs article button {
			display: block;
		}
		.back-view {
			display: none;
		}
	#sexy-treats .sexy-treats-form input[type="text"] {
		width: 100%;
	}
	#sexy-treats .container {
		padding-left: 20px;
		padding-right: 20px;
	}
	#sexy-treats .sexy-treats-form {
		padding: 30px 0;
	}
	#sexy-treats .label {
		font-size: 14px;
		text-shadow: 1px 1px 1px #fff;
	}

	.celebrity-fullview .celeb-details {
		width: 70%;
	}
	.celebrity-fullview .celeb-photo {
		width: 30%;
	}
}
@media screen and (max-width: 499px) {
	.celebrity-fullview .celeb-details {
		width: 100%;
		padding: 20px;
	}
	.celebrity-fullview .celeb-photo {
		display: none;
	}
	.popup-content.for-thankyou,
	.thank-you-redundant {
		width: 90%;
	}
	.home-details figure,
	.home-details .content,
	#gallery .page-header>figure,
	#gallery .filters .search-gallery {
		width: 100%;
	}
		#gallery .filters .search-gallery {
			margin-bottom: 10px;
		}
	#gallery .filters .select-category {
		margin: 0 auto;
		float: none;
		clear: both;
	}
	.view-entry {
		width: 100%;
		height: auto;
	}
	.home-details figure,
	#gallery .page-header>figure,
	#gallery .page-header,
	#gallery .page-header>.right {
		text-align: center;
	}
	#gallery .page-header>.right .btn {
		float: none;
	}
		.gallery-list ul li {
			width: 50%;
		}
		.gallery-list ul li.controls .holder {
			padding: 20px 20px 0;
		}
	.home-details figure img,
	#gallery .page-header>figure img {
		max-width: 100%;
		width: auto;
		display: inline-block;
		margin-bottom: 15px;
	}
	.home-details figure {
		position: relative;
		margin-top: 0;
		margin-left: 0;
	}
	.home-details {
		padding-right: 0;
	}
	footer.main .container .left,
	.uploader-section, .caption-section {
		width: 100%;
	}
	.caption-section {
		padding: 20px 0 0;
	}
	.uploader-section .preview-video {
		height: 280px
	}
	.uploader-section .preview-video .btn {
		top: 116px;
	}

	.popup-content.for-registration .registration .form .form-group.form-half {
		width: 100%;
	}
	.popup-content>.content {
		padding: 10px;
	}
	.footer-product {
		display: none;
		background-image: none;
	}
	#home {
		background-image: url(../img/home-bg-sm.jpg);
		background-size: cover;
		background-position: center top !important;
		background-repeat: no-repeat;
	}
		#home .container {
			padding-left: 0;
			padding-right: 0;
			padding-top: 20px;
			min-height: 368px;
			height: auto !important;
			height: 368px;
		}
		#home .container h1 {
			font-size: 16px;
		}
		#home .container .welcome-img {
			height: 98px;
		}
		.scroll-to-join {
			bottom: 0;
		}
	.hide-large {display: none;}
	.hide-medium {display: block;}
}
